{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% include 'admin.menu.html.twig' %}
			<main class="col-11 col-lg-10 ml-sm-auto">
				<div class="row mb-2" >
					<div class="col-12">
						<h4>{{'workshop' | trans }} : {{ form.vars.value.name }}</h4>
					</div>
				</div>
				<div class="row mb-2" >
					<div class="col-12">
						<a href="{{ path('workshop_admin') }}" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-left"></i> {{ 'list_of' | trans }} {{ 'categories' | trans | lower }}</a>
						<a href="{{ path('workshop_delete', {'workshop' : form.vars.value.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation"><i class="fas fa-trash-alt"></i> {{ 'delete' | trans }}</a>
					</div>
				</div>
				<div class="row mb-2" >
					<div class="col-12">
						{% include 'flashbag.html.twig' %}
					</div>
				</div>
				<div class="row" >
					<div class="col-2">
						<div class="card">
							<div class="card-body ">
								{% if workshop.image %}
									<img src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('categories_home')}}" class="img-fluid"/>
								{% else %}
									<img src="{{asset('img/logo_aem-lg.png')}}" class="img-fluid"/>
								{%	endif %}
							</div>
						</div>
					</div>
					<div class="col-10">
						<div class="card">
							<div class="card-body">
								{% form_theme form 'bootstrap_4_layout.html.twig' %}
								{{ form(form) }}
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
